{% extends "base.html" %} 

{% block title %}
Bienvenido
{% endblock %}

{% block content %}
<div class='hero'>
    <div class='hero-content'>
        <img class="custom-image" src="{{ url_for('static', filename='teclado-gamer.jpg') }}" />
        <div class='text-overlay'>
            <h1>Bienvenido a mi porfolio,<br>soy Nicolás.</h1>
        </div>
    </div>
</div>
{% include 'portfolio/section-first.html' %}
{% include 'portfolio/section-second.html' %}
{% include 'portfolio/section-third.html' %}
{% endblock %}