<div class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded hl"> 
                <h1>¡Listo para hacer tus ideas realidad!</h1>
                <p>¡Déjame saber cómo puedo ayudarte!</p>
            </div>
            <div id="contacto" class="right padded"> 
                <form class="contact-form" action="https://formsubmit.co/nicolasfdebella@gmail.com" method="POST" > 
                    <input name="name" placeholder="Nombre" required />
                    <input name="correo" placeholder="Correo" required type="email"/>
                    <textarea placeholder="Mensaje" name="message" required minlength=10></textarea>
                    <button class="btn full-width">Enviar</button>  
                    
                    <input type="hidden" name="_next" value="http://127.0.0.1:5000/mail">
                    <input type="hidden" name="_captcha" value="false">
                </form>
            </div>
        </div>
    </div>
</div>