<div class=" contact-section center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded hl"> 
                <h1>¡Listo para hacer tus ideas realidad!</h1>
                <p>¡Déjame saber cómo puedo ayudarte!</p>
            </div>
            <div id="contacto" class="right padded"> 
                <form class="contact-form" action="{{ url_for('portfolio.mail') }}" method="POST" > 
                    <input name="username" placeholder="Nombre" required />
                    <input name="email" placeholder="Correo" required type="email"/>
                    <textarea placeholder="Mensaje" name="message" required minlength=10></textarea>
                    <button  type="submit" class="btn full-width">Enviar</button>  
                </form>
            </div>
        </div>
    </div>
</div>