<div class="center padded white-bg">
    <div class="content padded column">
        <div class="padded">
            <div class="rectangle">
                <h1 class="center-text">ESTA WEB LA CONSTRUÍ DESDE CERO CON PYTHON Y FLASK</h1>
                <p class="center-text">QUIERO QUE CONOZCA MAS DE MIS PROYECTOS</p>
            </div>
        </div>
        <div class="row">
            <div class="card third">    
                <img src="{{ url_for('static', filename='metalslug.png') }}" />
                <h3>JUEGO<br>"METAL SLUG"</h3>
                <p>Este proyecto es un juego desarrollado en Python utilizando la libreria
                    de Pygame y principios de programación orientada a objetos permitiendo una 
                    estructura de código organizada y modular, facilitando la expansión y 
                    mantenimietno del juego.
                </p>
                <a class="orange" target="_blank" 
                href="https://github.com/NicolasDeBella/De_Bella_Nicolas_tp_final_pygame.git">
                Link al código</a>
            </div>
            <div class="card third">    
                <img src="{{ url_for('static', filename='arduino.png') }}" />
                <h3>"SISTEMA DE INCENDIO"</h3>
                <p>El proyecto utiliza Arduino y el lenguaje de programación C++ para 
                    diseñar un sistema de detección de incendios. Se emplean componentes 
                    como un sensor de temperatura, un control remoto por infrarrojos, 
                    un display LCD, un servo motor y LEDs. 
                    El código implementa la lectura de temperatura, la activación de 
                    una alarma simulada ante la detección de un incendio y la 
                    visualización de información en el display LCD. El diseño está 
                    estructurado de manera clara y legible, facilitando su comprensión y 
                    modificación.</p>
                <a class="orange" target="_blank" 
                href="https://github.com/NicolasDeBella/spd_de_bella_nicolas.git">
                Link al código</a>
            </div>                        
        </div>
    </div>
</div>