<div class="center">
    <div class='content'>
        <div class="vert-pad column">
            <div class='padded about-me'>  
                <h1>SOBRE MÍ</h1>
                <p>Soy estudiante de la Tecnicatura en Programación en la UTN,  residiendo en Buenos Aires, Argentina.
                    Mi camino en el mundo del desarrollo comenzó en 2021, y desde entonces, he estado participando 
                    activamente de cursos para expandir mis habilidades. Comprometido con mi crecimiento continuo, estoy  
                    realizando proyectos variados, que implican el uso de lenguajes específicos y combinados.</p>
            </div>
        </div>
    </div>
</div>
